<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="GameOfLifeService.GoLService">
        <endpoint address="" binding="basicHttpBinding" contract="GameOfLifeService.IGoLService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/GoL" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
    <basicHttpBinding>
      <binding name="BasicHttpBinding_IGoLService" maxBufferSize="20000000" maxReceivedMessageSize="20000000" maxBufferPoolSize="20000000">
        <readerQuotas maxDepth="32"
         maxArrayLength="20000000"
         maxStringContentLength="20000000"/>
      </binding>
    </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Aby zapobiec ujawnieniu informacji o metadanych, 
          ustaw dla poniższych elementów wartość false przed wdrożeniem -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Aby uzyskać szczegółowe informacje o wyjątku dotyczące błędów na potrzeby debugowania, 
          ustaw dla poniższego elementu wartość true. Ustaw wartość false przed wdrożeniem, 
          aby zapobiec ujawnieniu informacji o wyjątku -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>