<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gra_w_życie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGoLService" maxBufferPoolSize="20000000"
                    maxBufferSize="20000000" maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="20000000"
                        maxArrayLength="20000000" />
                </binding>
                <binding name="BasicHttpBinding_IGoLService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/GoL"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGoLService"
                contract="API.IGoLService" name="BasicHttpBinding_IGoLService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Gra_w_życie.Properties.Settings>
            <setting name="Ustawienie" serializeAs="String">
                <value />
            </setting>
        </Gra_w_życie.Properties.Settings>
    </userSettings>
</configuration>





